.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerimg{
    display: flex;
}
.imgblock{
    width: 150px;
    height: 150px;
    position: absolute;
}
.title{
    color: crimson;
    text-align: center;
    font-size: 50px;
    margin-top: 2px;
}
.btn{
    background-color: crimson;
    color: white;
    border-style: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}